:root {
    /* --main-color: rgb(73, 21, 196); */
    --purple: #4a3c8a;
    --dark-blue: rgb(19, 19, 78);
    --light: rgb(187, 223, 255);
    --bckgrnd-col: rgba(102, 184, 216, 0.705);
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Anybody', cursive;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
    line-height: 1.25;
  }

  #navBar {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-blue);
  }

  #navBar img {
    /* background-image: url("../images/v1052-104.jpg"); */
    max-height: 6%;
    max-width: 6%;
  }

  #navBar h1 {
    width: 25%;
    font-weight: 500;
    color: var(--light);
    background-color: var(--bckgrnd-col);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  #navigation {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: flex-end;
   }
   
   #navigation a {
     cursor: pointer;
     text-decoration: underline;
     text-decoration-thickness: 0.175em;
     padding: 2rem;
     color: var(--light);
   }

   .hero-banner {
      height: 230px;
      background-image: url("../images/02-hero-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
    }

    .hero-banner h2 {
        color: rgb(44, 44, 204);
        background-color: var(--bckgrnd-col);
        text-align: right;
        padding: 10px;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .page-wrapper {
        margin: 2.5%;
        display: grid;
        grid-template-rows: 200px 600px 100px;
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "about aboutText"
        "work workContent"
        "contact contactText"
        ;
      }

      #about {
        grid-area: about;
      }

      #aboutText {
        grid-area: aboutText;
      }

      #work {
        grid-area: work;
      }

      .workContent {
        grid-area: workContent;
      }

      #contact {
        grid-area: contact;
      }

      #contactText {
        grid-area: contactText;
      }

      .page-section {
        border-right: 0.25rem solid var(--dark-blue);
        margin: 5px;
      }

      .subheading-left {  
        font-size: 2.2rem;
        text-align: end;
        padding: 0.5rem;
        color: var(--dark-blue);
      }

      #aboutText {
        font-size: 1rem;
        display: flex;
        align-items: center;
        padding: 1rem;
      }

      #contactText {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      #workContentGrid {
        margin: 2%;
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "project1 project1"
        "project2 project3"
        ;
      }

      #project1 {
        grid-area: project1;
       /* Photo by <a href="https://unsplash.com/@silvawebdesigns?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan da Silva</a> on <a href="https://unsplash.com/photos/FO7kUmBYVi0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
        background-image: url("../images/nathan-da-silva-FO7kUmBYVi0-unsplash.jpg");
      }

      #project2 {
        grid-area: project2;
        /* Photo by <a href="https://unsplash.com/@patrickperkins?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Patrick Perkins</a> on <a href="https://unsplash.com/photos/ETRPjvb0KM0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
        background-image: url("../images/patrick-perkins-ETRPjvb0KM0-unsplash.jpg");
      }

      #project3 {
        grid-area: project3;
        background-image: url("../images/02-portfolio-3.jpg");
      }


      .workGridArea {
        border: 6px solid var(--purple);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 8px;
        cursor: pointer;
        display: grid;
        align-content: flex-end;
      }

      .project-label {
        background-color: var(--purple);
        width: fit-content;
        padding: 1rem;
        height: 4rem;
        color: var(--light);
        margin-bottom: 1.25rem;
      }

      .project-label h4 {
        font-weight: 200;
        padding-top: 0.5rem;
      }

      .workGridArea:hover {
        opacity: 0.7;
        transition: 0.2s;
      }






    
